@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

.textBody {
    font-size: 2.5vh;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: 300;
    text-align: center;
}

.textBodyLarge {
    margin-top: 10%;
    font-size: 7vh;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: 300;
    text-align: center;
}

.textColor {
    font-weight: 300;
    margin-top: 0%;
    margin-bottom: 1%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 3vh;
    background-color: rgb(97, 169, 228);
    border-radius: 0.5em 0.5em 0em 0em;
    color: #fff;
}

.colorTestBox {
    margin-left: 10%;
    width: 50%;
    height: 90%;
    background: rgba(0, 0, 0, 0.38);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 1em 1em 1em 1em;
    text-align: center;
}

#colorImg {
    border-radius: 50%;
    height: 550px;
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.answerBoxInput input {
    font-weight: bold;
    width: 9.8vw;
}

.answerBoxInput input[type="text"] {
    border: 2px solid white;
    border-bottom: 0px solid transparent;
    border-radius: 0.5em 0.5em 0em 0em;
    background: transparent;
    outline: none;
    height: 5vh;
    color: white;
    font-size: 3vh;
    font-weight: 150%;
    text-align: center;
}

.nextQButton {
    font-weight: bold;
    width: 10vw;
    border-radius: 0em 0em 1em 1em;
    border: 2px solid white;
    background-color: rgb(97, 169, 228);
    color: white;
    outline: none;
    padding: 1vh 1vh;

    -webkit-transition-duration: 0.6s;
    transition-duration: 0.4s;
}

.nextQButton:hover {
    background-color: rgb(97, 169, 228);
    opacity: 0.6;
}

.tryAgainButton {
    margin-top: 20%;
    margin-left: 40%;
    margin-right: 40%;
    font-weight: bold;
    width: 20%;
    border-radius: 1em 1em 1em 1em;
    border: 2px solid white;
    background-color: rgb(97, 169, 228);
    color: white;
    outline: none;
    padding: 1vh 1vh;

    -webkit-transition-duration: 0.6s;
    transition-duration: 0.4s;
}

.tryAgainButton:hover {
    background-color: rgb(97, 169, 228);
    opacity: 0.6;
}
