.colorTestBox {
    margin-left: 10%;
    width: 50%;
    height: 90%;
    background: rgba(0, 0, 0, 0.38);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 1em 1em 1em 1em;
    padding: 0.5% 0.5%;
    text-align: center;
}

#colorImg {
    border-radius: 50%;
    height: 550px;
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.answerBoxInput input {
    font-weight: bold;
    width: 20%;
}

.answerBoxInput input[type="text"] {
    border: 2px solid white;
    border-radius: 0.5em 0em 0em 0.5em;
    background: transparent;
    outline: none;
    height: 5vh;
    color: white;
    font-size: 3vh;
    font-weight: 150%;
    padding-left: 2vw;
}

.nextQButton {
    
}