@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
}
h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 25px;
  background-color: rgb(97, 169, 228);
  color: #fff;
}

button{
  font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: rgb(10, 99, 25);
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin: 20px;
}
button:hover{
    background-color: rgb(49, 180, 78);
}

#audioPlayer {
  border-radius: 50%;
  display: block;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}

.answerBoxInput input {
  margin: 50px;
  padding: 0;
  font-weight: bold;
  width: 100%;
}

.answerBoxInput input[type="text"] {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 40px;
  color: rgb(112, 202, 183);
  font-size: 100%;
  font-weight: 150%;
}