
.sideNav {
    height: 100%;
    width: 18%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: slategray;
    padding-top: 2%;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.7);
    
}

.sidNavButton {
    text-decoration: none;
    color: rgb(189, 189, 189);
    font-size: 80%;
    padding: 8% 5% 10% 5%;
    
    background-color: transparent;
    background-repeat:no-repeat;
    border-top: solid 1px;
    border-top-color: rgb(189, 189, 189);
    border-right: none;
    border-bottom: none;
    border-left: none;
    width: 100%;
    font-size: 1.5vw;
    cursor:pointer;
    overflow: hidden;
    margin-bottom: 1%;

    -webkit-transition-duration: 0.6s;
    transition-duration: 0.4s;
}

.sidNavBottomButton {
    text-decoration: none;
    color: rgb(189, 189, 189);
    font-size: 80%;
    padding: 8% 5% 10% 5%;
    
    background-color: transparent;
    background-repeat:no-repeat;
    border-top: solid 1px;
    border-top-color: rgb(189, 189, 189);
    border-right: none;
    border-bottom: solid 1px;
    border-bottom-color: rgb(189, 189, 189);
    border-left: none;
    width: 100%;
    font-size: 1.5vw;
    cursor:pointer;
    overflow: hidden;
    margin-bottom: 1%;

    -webkit-transition-duration: 0.6s;
    transition-duration: 0.4s;
}

.sidNavButton:hover {
    color: white;
}

.sidNavBottomButton:hover {
    color: white;
}

.pageStyles {
    margin-left: 18%;
}