
.sideNav {
    height: 100%;
    width: 18%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: slategray;
    padding-top: 2%;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.7);
    
}

.pageStyles {
    margin-left: 18%;
}