.loginBox {
    width: 370px;
    height: 450px;
    background: rgba(0, 0, 0, 0.38);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 1em 1em 1em 1em;
    padding: 0.5% 0.5%;
}

.signInHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 350%;
    color: white;
    text-align: center;
}

.inputTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 100%;
    color: white;
    text-align: left;
}

.textBoxInput input {
    margin: 0;
    padding: 0;
    font-weight: bold;
    width: 100%;
    margin-bottom: 20px;
}

.textBoxInput input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 100%;
    font-weight: 150%;
}

.loginButton input[type="submit"] {
    border-width: 1em;
    background: transparent;
    width: 100%;
    border-color: white;
}

.buttonSignInPage {
    padding: 1% 1%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid white;
    border-color: white;
    color: white;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    width: 100%;
    font-size: 20px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-bottom: 2%;

    -webkit-transition-duration: 0.6s;
    transition-duration: 0.4s;
}

.buttonSignInPage:hover {
    background-color: white;
    color: rgb(110, 110, 110);
}